# 构建产物(每次构建重新生成,不入库)
dist/

# Node(目前零依赖,预留)
node_modules/

# 媒体生成过程的临时 JSON,不入库不部署
assets/media-generation-*.json

# 系统文件
.DS_Store
